

html {
    background: none repeat scroll 0% 0% #343434;
}

body {
    background: none repeat scroll 0% 0% #F3F3F3;
    line-height: 150%;
}

a:link, a:visited {
    color: #AF0000;
}

a:hover, a:focus, a:active {
    color: #336699;
}

h1, h2, h3, h4, h5, h6 {
    color: #383838;
}

ul li {
    list-style-image: url("images/list-level-1.png");
}

ul li ul li {
    list-style-image: url("images/list-level-2.png");
}

ul li ul li ul li {
    list-style-image: url("images/list-level-3.png");
}

blockquote {
    background: url("images/blockquote-quote.png") no-repeat scroll 8px 8px #ECECEC;
    border-top: 1px solid #D8D8D8;
    color: #6A6A6A;
}

#site-name a:link, #site-name a:visited {
    color: #D8D8D8;
}

#slogan {
    color: #ACACAC;
}

.header-group-wrapper {
    background: none repeat scroll 0% 0% #383838;
}

.header-group-wrapper a:link, .header-group-wrapper a:visited {
    color: #FFFFFF;
}

.header-top-wrapper {
    background: url("images/secondary-menu-bg.png") repeat-x scroll 0pt 100% #5B5B5B;
}

.header-top-region {
    color: #AFAFAF;
}

.header-top-region a:link, .header-top-region a:visited, .header-top-region a:hover, .header-top-region a:focus {
    color: #FFFFFF;
}

.header-top h2.title {
    color: #AFAFAF;
}

.header-group .inner {
    color: #B0B0B0;
}

.secondary-menu-inner ul.links li a:link, .secondary-menu-inner ul.links li a:visited {
    border-left: 1px solid #353535;
    color: #C7C7C7;
}

.secondary-menu-inner ul.links li.last a {
    border-right: 1px solid #353535;
}

.secondary-menu-inner ul.links li a:hover, .secondary-menu-inner ul.links li a:focus {
    background: none repeat scroll 0% 0% #737373;
}

.secondary-menu-inner ul.links li a.active {
    background: none repeat scroll 0% 0% #383838;
}

.search-box-inner form#search-theme-form {
    background: url("images/search-bg.png") no-repeat scroll 50% 0pt transparent;
}

.search-box-inner input#edit-search-theme-form-header {
    background: none repeat scroll 0% 0% transparent;
    color: #333333;
}

.postscript-bottom-wrapper {
    background: none repeat scroll 0% 0% #4C4C4C;
    color: #B0B0B0;
}

.postscript-bottom h2.block-title, .footer-message-wrapper h2.block-title {
    color: #B0B0B0;
}

.postscript-bottom a:link, .postscript-bottom a:visited, .footer-message a:hover {
    color: #FFFFFF;
}

.footer-wrapper {
    border-top: 3px solid #404040;
}

.footer-wrapper, .footer-message-wrapper, .store-footer, .footer-wrapper h2.block-title {
    color: #727171;
}

.footer-wrapper, .footer-message-wrapper {
    background: none repeat scroll 0% 0% #343434;
}

.footer-message a:link, .footer-message a:visited, .footer a:link, .footer a:visited {
    color: #A9A9A9;
}

#store-footer {
    background: none repeat scroll 0% 0% #343434;
}

#store-footer a:link, #store-footer a:visited {
    color: #A9A9A9;
}

#store-footer {
    color: #727171;
}

.header-primary-menu-wrapper {
    background: url("images/primary-menu-bg.png") repeat-x scroll 0pt 0pt #1D1D1D;
    border-bottom: 5px solid #929292;
}

.primary-menu-inner ul.menu li a:link, .primary-menu-inner ul.menu li a:visited {
    border-left: 1px solid #5B5B5B;
    color: #AEAEAE;
}

.primary-menu-inner ul.menu li a:focus, .primary-menu-inner ul.menu li a:hover, .primary-menu-inner ul.menu li:hover a, .primary-menu-inner ul.menu li.hover a, .primary-menu-inner ul.menu li.active-trail a, .primary-menu-inner ul.sf-menu li a:hover, .primary-menu-inner ul.sf-menu li:hover a, .primary-menu-inner ul.sf-menu li.hover a {
    background: none repeat scroll 0% 0% #F4F4F4;
    color: #8B8B8B;
}

.primary-menu-inner ul.menu li.active-trail a.active {
    color: #444444;
}

.primary-menu-inner ul li.last a, .primary-menu-inner ul.sf-menu li.last {
    border-right: 1px solid #5B5B5B;
}

.primary-menu-inner ul.sf-menu li ul {
    background: none repeat scroll 0% 0% #F4F4F4;
    border-left: 1px solid #DADADA;
}

.primary-menu-inner ul.sf-menu li ul.menu {
    border-bottom: 5px solid #939393;
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
}

.primary-menu-inner ul.sf-menu li ul.menu li {
    border-bottom: 1px solid #DCDCDC;
}

.primary-menu-inner ul.sf-menu ul li.last {
    border-right: medium none;
}

.primary-menu-inner ul.sf-menu li ul.menu a:link, .primary-menu-inner ul.sf-menu li ul.menu a:visited {
    background: none repeat scroll 0% 0% transparent;
    border-left: medium none;
    color: #000000;
}

.primary-menu-inner ul.sf-menu li:hover ul li a:link, .primary-menu-inner ul.sf-menu li:hover ul li a:visited, .primary-menu-inner ul.sf-menu li.hover ul li a:link, .primary-menu-inner ul.sf-menu li.hover ul li a:visited {
    color: #000000;
}

.primary-menu-inner ul.sf-menu li.last a:link, .primary-menu-inner ul.sf-menu li.last a:visited, .primary-menu-inner ul.sf-menu li.last ul li a:link, .primary-menu-inner ul.sf-menu li.last ul li a:visited {
    border-right: medium none;
}

.primary-menu-inner ul.sf-menu li.sfHover ul.menu li:hover, .primary-menu-inner ul.sf-menu li.sfHover ul.menu li a:focus, .primary-menu-inner ul.sf-menu li.sfHover ul.menu li a:hover {
    background: none repeat scroll 0% 0% #FFFFFF;
    color: #535353;
}

.primary-menu-inner ul.sf-menu li ul.menu li ul.menu {
    border-top: 1px solid #DCDCDC;
}

#primary-menu ul.menu li span.nolink {
    border-left: 1px solid #5B5B5B;
    color: #AEAEAE;
}

#primary-menu ul.menu li span.nolink:hover, #primary-menu ul.menu li span.nolink.hover, #primary-menu ul.menu li:hover span.nolink, #primary-menu ul.menu li.hover span.nolink, #primary-menu ul.menu li.active-trail span.nolink, #primary-menu ul.sf-menu li.sfHover span.nolink {
    background: none repeat scroll 0% 0% #F4F4F4;
    color: #8B8B8B;
}

#primary-menu ul.menu li.active-trail span.nolink {
    color: #444444;
}

#primary-menu ul.sf-menu li.sfHover ul.menu li span.nolink, #primary-menu ul.menu li:hover ul.menu li span.nolink, #primary-menu ul.menu li.hover ul.menu li span.nolink {
    color: #444444;
}

#primary-menu ul.menu li:hover ul.menu li span.nolink:hover, #primary-menu ul.menu li.hover ul.menu li span.nolink.hover {
    background: none repeat scroll 0% 0% #FFFFFF;
}

th, thead th {
    border-bottom: 1px solid #CFCFCF;
}

tbody th {
    border-bottom: 1px solid #CFCFCF;
}

tr.even, tr.odd {
    background-color: transparent;
}

tr.even td, tr.odd td {
    background-color: transparent;
    border: 1px solid #DBDBDB;
}

tr.drag td, tr.drag-previous td {
    background-color: #FFFFDD;
}

ul.pager {
    background-color: #EBEBEB;
    border-width: 1px;
    border-style: solid;
    border-color: #CECECE #D9D9D9 #FFFFFF;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-image: none;
}

ul.pager li a, ul.pager li.pager-current {
    background-color: #AAAAAA;
    color: #FFFFFF;
}

ul.pager li.pager-current {
    background-color: #F3F3F3;
    border-right: 1px solid #CECECE;
    border-width: medium 1px 1px;
    border-style: none solid solid;
    border-color: -moz-use-text-color #CECECE #CECECE;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-image: none;
    color: #ACACAC;
}

ul.pager li a:link, ul.pager li a:visited {
    border: 1px solid #A8A8A8;
    color: #FFFFFF;
}

ul.pager li a:hover, ul.pager li a:focus {
    background-color: #888888;
    color: #FFFFFF;
}

ul.pager li.pager-first a, ul.pager li.pager-previous a, ul.pager li.pager-next a, ul.pager li.pager-last a {
    border: medium none;
    color: transparent;
}

ul.pager li.pager-first a {
    background: url("images/pager-first.png") no-repeat scroll 0% 0% transparent;
}

ul.pager li.pager-previous a {
    background: url("images/pager-previous.png") no-repeat scroll 0% 0% transparent;
}

ul.pager li.pager-next a {
    background: url("images/pager-next.png") no-repeat scroll 0% 0% transparent;
}

ul.pager li.pager-last a {
    background: url("images/pager-last.png") no-repeat scroll 0% 0% transparent;
}

ul.pager li.pager-first a:hover, ul.pager li.pager-first a:focus, ul.pager li.pager-previous a:hover, ul.pager li.pager-previous a:focus, ul.pager li.pager-next a:hover, ul.pager li.pager-next a:focus, ul.pager li.pager-last a:hover, ul.pager li.pager-last a:focus {
    background-position: 0pt -22px;
}

.header-group-wrapper ul.pager li.pager-current {
    background-color: #383838;
    border-right: 1px solid #444444;
    border-width: medium 1px 1px;
    border-style: none solid solid;
    border-color: -moz-use-text-color #444444 #444444;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-image: none;
    color: #ACACAC;
}

.header-group-wrapper ul.pager {
    background-color: #4F4F4F;
    border-width: 1px;
    border-style: solid;
    border-color: #444444 #5F5F5F #6F6F6F;
}

.postscript-bottom-wrapper ul.pager li.pager-current {
    background-color: #4C4C4C;
    border-right: 1px solid #444444;
    border-width: medium 1px 1px;
    border-style: none solid solid;
    border-color: -moz-use-text-color #444444 #444444;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-image: none;
    color: #FFFFFF;
}

.postscript-bottom-wrapper ul.pager {
    background-color: #5F5F5F;
    border-width: 1px;
    border-style: solid;
    border-color: #444444 #5F5F5F #6F6F6F;
}

.footer-wrapper ul.pager li.pager-current {
    background-color: #343434;
    border-right: 1px solid #444444;
    border-width: medium 1px 1px;
    border-style: none solid solid;
    border-color: -moz-use-text-color #444444 #444444;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-image: none;
    color: #FFFFFF;
}

.footer-wrapper ul.pager {
    background-color: #4F4F4F;
    border-width: 1px;
    border-style: solid;
    border-color: #444444 #5F5F5F #6F6F6F;
}

.form-submit {
    background: url("images/button-bg.png") repeat-x scroll 50% 0pt #9E9E9E;
    border: 3px solid #E9E9E9;
    color: #FFFFFF;
}

.form-submit:hover, .form-submit.hover, .form-submit:focus {
    background-position: 50% 100%;
}

fieldset {
    border: 1px solid #D9D9D9;
}

legend, legend.collapse-processed, legend.collapse-processed a:link, legend.collapse-processed a:visited {
    color: #535353;
}

.form-item input, .form-item select, .form-item textarea {
    border-right: 1px solid #DDDDDD;
    border-width: 2px 1px 1px;
    border-style: solid;
    border-color: #CECECE #DDDDDD #DDDDDD;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-image: none;
}

html.js fieldset.collapsible legend a {
    background: url("images/menu-expanded.png") no-repeat scroll 0% 50% transparent;
}

html.js fieldset.collapsed legend a {
    background: url("images/menu-collapsed.png") no-repeat scroll 0% 50% transparent;
}

.forum-topic-navigation {
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
}

.book-navigation .menu {
    border-top: 1px solid #CCCCCC;
}

.book-navigation .page-links {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

div.poll div.bar {
    background: none repeat scroll 0% 0% #EEEEEE;
    border-top: 1px solid #E2E2E2;
}

div.poll div.bar div.foreground {
    background: url("images/poll-bg.png") repeat-x scroll 50% 0pt #EAEAEA;
}

div.poll .percent {
    color: #999999;
}

.prosper-rounded-title h2.block-title {
    background: none repeat scroll 0% 0% #AEAEAE;
    color: #FFFFFF;
    text-align: center;
}

.prosper-gray-rounded-plain .content {
    background: none repeat scroll 0% 0% #FFFFFF;
    border-bottom: 2px solid #BFBFBF;
    border-left: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
    color: black;
}

.prosper-gray-rounded-plain a:link, .prosper-gray-rounded-plain a:visited {
    color: #AF0000;
}

.prosper-gray-rounded-plain a:hover, .prosper-gray-rounded-plain a:focus, .prosper-gray-rounded-plain a:active {
    color: #336699;
}

.prosper-gray-rounded-plain ul.pager li.pager-current {
    background-color: #FFFFFF;
}

.prosper-gray-rounded-style .content {
    background: none repeat scroll 0% 0% #FFFFFF;
    border-bottom: 2px solid #BFBFBF;
    border-left: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
    color: #383838;
}

.prosper-gray-rounded-style ul li {
    background: none repeat scroll 0% 0% #FFFFFF;
    border-bottom: 1px solid #E8E7E7;
}

.prosper-gray-rounded-style ul li, .prosper-gray-rounded-style ul li.leaf {
    background: url("images/menu-block-leaf.png") no-repeat scroll 10px 10px transparent;
}

.prosper-gray-rounded-style ul li ul li, .prosper-gray-rounded-style ul li ul li.leaf {
    background: url("images/menu-block-leaf-2.png") no-repeat scroll 10px 10px transparent;
}

.prosper-gray-rounded-style ul li.collapsed {
    background: url("images/menu-block-collapsed.png") no-repeat scroll 10px 10px transparent;
}

.prosper-gray-rounded-style ul li.expanded {
    background: url("images/menu-block-expanded.png") no-repeat scroll 10px 10px transparent;
}

.prosper-gray-rounded-style ul li a:link, .prosper-gray-rounded-style ul li a:visited {
    color: #000000;
}

.prosper-gray-rounded-style ul li ul {
    background: none repeat scroll 0% 0% #F6F6F6;
    border-bottom: 1px solid #E6E6E6;
    border-top: 2px solid #E6E6E6;
}

.prosper-gray-rounded-style ul li ul li {
    border-bottom: medium none;
}

.prosper-gray-rounded-style ul li ul li a:link, .prosper-gray-rounded-style ul li ul li a:visited {
    color: #818181;
}

.prosper-gray-rounded-style ul li ul li ul {
    border-bottom: medium none;
    border-top: medium none;
}

.prosper-grayborder-darkbackground .inner {
    background: none repeat scroll 0% 0% #353535;
    border-bottom: 1px solid #434343;
    border-top: 1px solid #2A2A2A;
    color: #8B8B8B;
}

.prosper-grayborder-darkbackground h2.block-title {
    color: #F5F5F5;
}

.prosper-grayborder-darkbackground a:link, .prosper-grayborder-darkbackground a:visited {
    color: #FFFFFF;
}

.prosper-grayborder-darkbackground ul li {
    background: none repeat scroll 0% 0% #FFFFFF;
    border-bottom: 1px solid #4E4E4E;
}

.prosper-grayborder-darkbackground ul li, .prosper-grayborder-darkbackground ul li.leaf {
    background: url("images/menu-block-leaf.png") no-repeat scroll 10px 10px transparent;
}

.prosper-grayborder-darkbackground ul li ul li, .prosper-grayborder-darkbackground ul li ul li.leaf {
    background: url("images/menu-block-leaf-2.png") no-repeat scroll 10px 10px transparent;
}

.prosper-grayborder-darkbackground ul li.collapsed {
    background: url("images/menu-block-collapsed.png") no-repeat scroll 10px 10px transparent;
}

.prosper-grayborder-darkbackground ul li.expanded {
    background: url("images/menu-block-expanded.png") no-repeat scroll 10px 10px transparent;
}

.prosper-grayborder-darkbackground ul li a:link, .prosper-grayborder-darkbackground ul li a:visited {
    color: #818181;
}

.prosper-grayborder-darkbackground ul li a:hover, .prosper-grayborder-darkbackground ul li.active-trail a.active {
    color: #FFFFFF;
}

.prosper-grayborder-darkbackground ul li ul {
    background: none repeat scroll 0% 0% #2F2F2F;
    border-bottom: 1px solid #4E4E4E;
    border-top: 2px solid #4E4E4E;
}

.prosper-grayborder-darkbackground ul li ul li {
    border-bottom: medium none;
}

.prosper-grayborder-darkbackground ul li ul li a {
    color: #818181;
}

.prosper-grayborder-darkbackground ul li ul li ul {
    border-bottom: medium none;
    border-top: medium none;
}

.prosper-mediumgraybackground-bottomborder .inner {
    background: none repeat scroll 0% 0% #DEDEDE;
    border-bottom: 2px solid #BFBFBF;
}

.prosper-mediumgraybackground-bottomborder h2.block-title {
    color: #535353;
}

.prosper-mediumgraybackground-bottomborder a:link, .prosper-mediumgraybackground-bottomborder a:visited {
    color: #AF0000;
}

.prosper-lightgraybackground-border .inner {
    background: none repeat scroll 0% 0% #F7F7F7;
    border: 1px solid #EDEDED;
    color: #535353;
}

.prosper-lightgraybackground-border h2.block-title {
    color: #000000;
}

.prosper-lightgraybackground-border a:link, .prosper-lightgraybackground-border a:visited {
    color: #AF0000;
}

.prosper-gradient-border .inner {
    background: url("images/prosper-gradient-border-bg.png") repeat-x scroll 50% 0pt #DDDDDD;
    border: 3px solid #B4B4B4;
    color: #6A6A6A;
}

.prosper-gradient-border h2.block-title {
    color: #383838;
}

.prosper-gradient-border a:link, .prosper-gradient-border a:visited {
    color: #000000;
}

.prosper-menu-list .inner {
    border-bottom: 2px solid #BFBFBF;
}

.prosper-menu-list h2.block-title {
    background: none repeat scroll 0% 0% #AEAEAE;
    color: #FFFFFF;
}

.prosper-menu-list ul {
    background: none repeat scroll 0% 0% #F3F3F3;
    border: 1px solid #EDEDED;
}

.prosper-menu-list ul li {
    background: url("images/menu-block-list.png") repeat-x scroll 0pt 0pt #F7F7F7;
}

.inner .prosper-menu-list ul li a:link, .inner .prosper-menu-list ul li a:visited, .inner .prosper-menu-list ul li .nolink {
    background: url("images/menu-block-leaf.png") no-repeat scroll 5px 10px transparent;
    border-bottom: 1px solid #FFFFFF;
    color: #222222;
}

.inner .prosper-menu-list ul li.collapsed a:link, .inner .prosper-menu-list ul li.collapsed a:visited, .inner .prosper-menu-list ul li.collapsed .nolink {
    background: url("images/menu-block-collapsed.png") no-repeat scroll 5px 8px transparent;
}

.inner .prosper-menu-list ul li.expanded a:link, .inner .prosper-menu-list ul li.expanded a:visited, .inner .prosper-menu-list ul li.expanded .nolink {
    background: url("images/menu-block-expanded.png") no-repeat scroll 5px 9px transparent;
}

.prosper-menu-list ul li ul {
    border-top: 2px solid #E6E6E6;
}

.inner .prosper-menu-list ul li ul li a:link, .inner .prosper-menu-list ul li ul li a:visited, .inner .prosper-menu-list ul li.collapsed ul li a:link, .inner .prosper-menu-list ul li.collapsed ul li a:visited, .inner .prosper-menu-list ul li.expanded ul li a:link, .inner .prosper-menu-list ul li.expanded ul li a:visited, .inner .prosper-menu-list ul li ul li .nolink, .inner .prosper-menu-list ul li.collapsed ul li .nolink, .inner .prosper-menu-list ul li.expanded ul li .nolink {
    background: url("images/menu-block-leaf-2.png") no-repeat scroll 5px 0pt transparent;
    color: #818181;
}

.inner .prosper-menu-list ul li ul li ul li a:link, .inner .prosper-menu-list ul li ul li ul li a:visited, .inner .prosper-menu-list ul li ul li.collapsed ul li a:link, .inner .prosper-menu-list ul li ul li.collapsed ul li a:visited, .inner .prosper-menu-list ul li ul li.expanded ul li a:link, .inner .prosper-menu-list ul li ul li.expanded ul li a:visited, .inner .prosper-menu-list ul li ul li ul li .nolink, .inner .prosper-menu-list ul li ul li.collapsed ul li .nolink, .inner .prosper-menu-list ul li ul li.expanded ul li .nolink {
    background: url("images/menu-block-leaf.png") no-repeat scroll 5px 0pt transparent;
    color: #818181;
}

.prosper-shoppingcart-light h2.block-title {
    background: none repeat scroll 0% 0% #AEAEAE;
    color: #FFFFFF;
}

.prosper-shoppingcart-light .content {
    background: none repeat scroll 0% 0% #FFFFFF;
    border-bottom: 2px solid #BFBFBF;
    border-left: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
    color: #686868;
}

.prosper-shoppingcart-light td.cart-block-item-title a:link, .prosper-shoppingcart-light td.cart-block-item-title a:visited {
    color: #AF0000;
}

.prosper-shoppingcart-light .cart-block-icon-empty {
    background: url("images/icon-shoppingcart.png") no-repeat scroll 0pt 50% transparent;
}

.prosper-shoppingcart-light .cart-block-icon-full {
    background: url("images/icon-shoppingcart-full.png") no-repeat scroll 0pt 50% transparent;
}

.prosper-shoppingcart-light .arrow-down {
    background: url("images/shoppingcart-expanded.png") no-repeat scroll 50% 50% transparent;
}

.prosper-shoppingcart-light .arrow-up {
    background: url("images/shoppingcart-collapsed.png") no-repeat scroll 50% 50% transparent;
}

.prosper-shoppingcart-light .cart-block-summary-links ul li.cart-block-view-cart a:link, .prosper-shoppingcart-light .cart-block-summary-links ul li.cart-block-view-cart a:visited {
    color: #686868;
}

.prosper-shoppingcart-light .cart-block-summary-links ul li.cart-block-view-cart a:hover, .prosper-shoppingcart-light .cart-block-summary-links ul li.cart-block-view-cart a:focus {
    text-decoration: underline;
}

.prosper-shoppingcart-light .cart-block-summary-links ul li.cart-block-checkout a:link, .prosper-shoppingcart-light .cart-block-summary-links ul li.cart-block-checkout a:visited {
    background: url("images/button-bg.png") repeat-x scroll 50% 0pt #9E9E9E;
    color: #FFFFFF;
}

.prosper-shoppingcart-light .cart-block-summary-links ul li.cart-block-checkout a:hover, .prosper-shoppingcart-light .cart-block-summary-links ul li.cart-block-checkout a:focus {
    background-position: 50% 100%;
}

.prosper-shoppingcart-dark .inner {
    background: none repeat scroll 0% 0% #353535;
    border-bottom: 1px solid #434343;
    border-top: 1px solid #2A2A2A;
    color: #8B8B8B;
}

.prosper-shoppingcart-dark a:link, .prosper-shoppingcart-dark a:visited, .prosper-shoppingcart-dark a:hover, .prosper-shoppingcart-dark a:active, .prosper-shoppingcart-dark a:focus {
    color: #FFFFFF;
}

.prosper-shoppingcart-dark h2.block-title {
    color: #F5F5F5;
}

.prosper-shoppingcart-dark .content {
    color: #D7D7D7;
}

.prosper-shoppingcart-dark .cart-block-icon-empty {
    background: url("images/icon-shoppingcart-dark.png") no-repeat scroll 0pt 50% transparent;
}

.prosper-shoppingcart-dark .cart-block-icon-full {
    background: url("images/icon-shoppingcart-full-dark.png") no-repeat scroll 0pt 50% transparent;
}

.prosper-shoppingcart-dark .arrow-down {
    background: url("images/shoppingcart-expanded.png") no-repeat scroll 50% 50% transparent;
}

.prosper-shoppingcart-dark .arrow-up {
    background: url("images/shoppingcart-collapsed.png") no-repeat scroll 50% 50% transparent;
}

.prosper-shoppingcart-dark .cart-block-summary-links ul li.cart-block-view-cart a:link, .prosper-shoppingcart-dark .cart-block-summary-links ul li.cart-block-view-cart a:visited {
    color: #D7D7D7;
    background: url("images/button-bg-dark.png") repeat-x scroll 50% 0pt #9E9E9E;
}

.prosper-shoppingcart-dark .cart-block-summary-links ul li.cart-block-view-cart a:hover, .prosper-shoppingcart-dark .cart-block-summary-links ul li.cart-block-view-cart a:focus {
    text-decoration: underline;
    background-position: 50% 100%;
}

.prosper-shoppingcart-dark .cart-block-summary-links ul li.cart-block-checkout a:link, .prosper-shoppingcart-dark .cart-block-summary-links ul li.cart-block-checkout a:visited {
    background: url("images/button-bg-dark.png") repeat-x scroll 50% 0pt #9E9E9E;
    color: #D7D7D7;
}

.prosper-shoppingcart-dark .cart-block-summary-links ul li.cart-block-checkout a:hover, .prosper-shoppingcart-dark .cart-block-summary-links ul li.cart-block-checkout a:focus {
    background-position: 50% 100%;
}

.prosper-quicktabs .quicktabs_wrapper ul.quicktabs_tabs li a:link, .prosper-quicktabs .quicktabs_wrapper ul.quicktabs_tabs li a:visited {
    background: none repeat scroll 0% 0% #B6B6B6;
    border-bottom: 2px solid #F3F3F3;
    border-top: 1px solid #E8E7E7;
    color: #FFFFFF;
}

.prosper-quicktabs .quicktabs_wrapper ul.quicktabs_tabs li.active a:link, .prosper-quicktabs .quicktabs_wrapper ul.quicktabs_tabs li.active a:visited {
    background: none repeat scroll 0% 0% #FFFFFF;
    color: #000000;
}

.prosper-quicktabs .quicktabs_main {
    background: none repeat scroll 0% 0% #FFFFFF;
    border-bottom: 2px solid #C5C5C5;
    border-top: 1px solid #E8E7E7;
}

.prosper-gray-border-image .inner img {
    border: 2px solid #BBBBBB;
}

.prosper-comments-edgy #comments .comment-wrapper div.comment-by-author .submitted {
    background: none repeat scroll 0% 0% #383838;
    color: #ACACAC;
}

.prosper-comments-edgy #comments .comment-wrapper div.comment-by-author .submitted a:link, .prosper-comments-edgy #comments .comment-wrapper div.comment-by-author .submitted a:visited {
    color: #FFFFFF;
}

.prosper-comments-edgy .comment-wrapper .submitted {
    color: #9A9A9A;
}

.prosper-comments-edgy .comment-wrapper .content-inner h3.title, .prosper-comments-edgy .comment-wrapper .content-inner h3.title a {
    color: #232323;
}

.prosper-comments-edgy .comment-wrapper .picture img {
    border: 1px solid #CBCBCB;
}

.comment-wrapper .odd .content {
    border-top: 1px solid #CCCCCC;
}

.prosper-comments-edgy .comment-wrapper .odd .content-inner {
    background: none repeat scroll 0% 0% #FFFFFF;
    border-bottom: 1px solid #BFBFBF;
}

.prosper-comments-edgy .comment-wrapper .odd .comment-top-left {
    background: url("images/comment-top-left-odd.png") no-repeat scroll 0pt 0pt transparent;
}

.prosper-comments-edgy .comment-wrapper .even .content {
    border-top: 1px solid #DADADA;
}

.prosper-comments-edgy .comment-wrapper .even .content-inner {
    background: none repeat scroll 0% 0% #DEDEDE;
    border-bottom: 1px solid #BFBFBF;
}

.prosper-comments-edgy .comment-wrapper .even .comment-top-left {
    background: url("images/comment-top-left-even.png") no-repeat scroll 0pt 0pt transparent;
}

.prosper-comments-edgy .comment-wrapper .signature {
    background: none repeat scroll 0% 0% #EFEFEF;
    border-top: 2px solid #CDCDCD;
}

.prosper-comments-edgy .comment-wrapper .odd .links {
    border-top: 1px solid #EBEBEB;
}

.prosper-comments-edgy .comment-wrapper .even .links {
    border-top: 1px solid #CDCDCD;
}

.prosper-comments-edgy .box .content {
    background: none repeat scroll 0% 0% #FFFFFF;
    border-bottom: 2px solid #C5C5C5;
}

.prosper-comments-edgy .box .form-item input, .prosper-comments-edgy .box .form-item select, .prosper-comments-edgy .box .form-item textarea {
    background: none repeat scroll 0% 0% #F5F5F5;
}

.prosper-comments-clean .comment-wrapper {
    background: none repeat scroll 0% 0% #FFFFFF;
    color: #8E8E8E;
}

.prosper-comments-clean .comment-wrapper .withpicture .withpicture-column-right {
    border-bottom: 1px solid #CCCCCC;
}

.prosper-comments-clean .comment-wrapper h3.title a {
    color: #8E8E8E;
}

.footer .fusion-inline-menu .inner ul li a:link, .footer .fusion-inline-menu .inner ul li a:visited {
    color: #A9A9A9;
}

.footer .fusion-inline-menu .inner ul li a:hover {
    background: none repeat scroll 0% 0% #2C2C2C;
}

.footer .fusion-inline-menu .inner ul li.active-trail a.active {
    background: none repeat scroll 0% 0% #404040;
    color: #FFFFFF;
}

.footer .fusion-multicol-menu ul li {
    border-left: 1px solid #4C4C4C;
}

.footer .fusion-multicol-menu ul li.last {
    border-right: 1px solid #4C4C4C;
}

.footer .fusion-multicol-menu .inner ul li a:link, .footer .fusion-multicol-menu .inner ul li a:visited {
    color: #A9A9A9;
}

.footer .fusion-multicol-menu .inner ul li a:hover {
    background: none repeat scroll 0% 0% #2C2C2C;
    text-decoration: none;
}

.footer .fusion-multicol-menu .inner ul li.active-trail a.active {
    background: none repeat scroll 0% 0% #404040;
    color: #FFFFFF;
}

.footer .fusion-multicol-menu .inner ul li ul li a:hover {
    color: #FFFFFF;
}

.footer .fusion-multicol-menu .inner ul li.active-trail a {
    background: none repeat scroll 0% 0% #404040;
}

.footer .fusion-multicol-menu .inner ul li.active-trail a.active {
    background: none repeat scroll 0% 0% #404040;
    color: #FFFFFF;
}

.footer .fusion-multicol-menu .inner ul li.active-trail ul li a.active {
    background: none repeat scroll 0% 0% transparent;
    color: #FFFFFF;
}

.node_read_more a:link, .node_read_more a:visited {
    background: none repeat scroll 0% 0% #AEAEAE;
    border: 2px solid #E9E9E9;
    color: #FFFFFF;
}

.postscript-bottom-wrapper .node_read_more a:link, .postscript-bottom-wrapper .node_read_more a:visited, .footer-wrapper .node_read_more a:link, .footer-wrapper .node_read_more a:visited {
    color: #FFFFFF;
}

.teaser {
    border-bottom: 2px solid #E7E7E7;
}

.postscript-bottom-wrapper .teaser, .footer-wrapper .teaser {
    border-bottom: 2px solid #6F6F6F;
}

.node .content .picture img {
    border: 1px solid #CBCBCB;
}

.breadcrumbs .inner {
    background: none repeat scroll 0% 0% #EFEFEF;
    border-width: 1px;
    border-style: solid;
    border-color: #929292 #E2E2E2 #FFFFFF;
    color: #8E8E8E;
}

img.category {
    border: 1px solid #EBE9E9;
}

.category-grid-products {
    border-top: 2px solid #DEDEDE;
}

.category-grid-products td {
    background: none repeat scroll 0% 0% #F7F7F7;
    border: 1px solid #EDEDED;
}

.category-grid-products td img {
    border: 2px solid #BBBBBB;
}

ul.uc-categories {
    border-bottom: 3px solid #DEDEDE;
    color: black;
}

ul.uc-categories a:link, ul.uc-categories a:visited {
    border-right: 1px solid #DEDEDE;
    color: #FFFFFF;
}

.product-group .uc-price-display {
    color: #000000;
}

.product-image img {
    border: 2px solid #BBBBBB;
}

#product-details {
    background: none repeat scroll 0% 0% #F7F7F7;
    border: 1px solid #EDEDED;
    color: #383838;
}

#product-details .form-item input, #product-details .form-item select, #product-details .form-item textarea {
    background: none repeat scroll 0% 0% white;
}

#product-details .product-field .sell {
    color: #000000;
}

#cart-form-products {
    background: none repeat scroll 0% 0% #FFFFFF;
    border-bottom: 1px solid #BFBFBF;
    border-top: 1px solid #E8E7E7;
}

#cart-form-products table th {
    border-bottom: 1px solid #C7C7C7;
}

#cart-form-products table tr.odd {
    background: none repeat scroll 0% 0% #F3F3F3;
}

#cart-form-products table td.image img {
    border: 1px solid #BBBBBB;
}

#cart-form-products table td.subtotal {
    color: #535353;
}

#cart-form-products table td .form-item input, #cart-form-products table td .form-item select, #cart-form-products table td .form-item textarea {
    background: none repeat scroll 0pt 0pt white;
}

#uc-cart-pane-quotes .solid-border {
    background: none repeat scroll 0% 0% #F7F7F7;
    border: 1px solid #EDEDED;
}

#uc-cart-checkout-form {
    background: none repeat scroll 0% 0% #FFFFFF;
    border-bottom: 2px solid #BFBFBF;
}

#uc-cart-checkout-form fieldset {
    border-top: 25px solid #AEAEAE;
}

#uc-cart-checkout-form fieldset legend {
    background: none repeat scroll 0% 0% #AEAEAE;
    color: #FFFFFF;
}

#uc-cart-checkout-form fieldset legend a:link, #uc-cart-checkout-form fieldset legend a:visited {
    color: #FFFFFF;
}

#uc-cart-checkout-form table tr.odd {
    background: none repeat scroll 0% 0% #F3F3F3;
}

html.js #uc-cart-checkout-form fieldset.collapsible legend a {
    background: url("images/menu-expanded-uc.png") no-repeat scroll 0% 50% transparent;
}

html.js #uc-cart-checkout-form fieldset.collapsed legend a {
    background: url("images/menu-collapsed-uc.png") no-repeat scroll 0% 50% transparent;
}

#uc-cart-checkout-form .address-pane-table .field-label {
    color: black;
}

#uc-cart-checkout-form .address-pane-table .form-required {
    color: #AF0000;
}

#uc-cart-checkout-form input#edit-panes-customer-primary-email, #uc-cart-checkout-form table td .form-item input, #uc-cart-checkout-form table td .form-item select, #uc-cart-checkout-form table td .form-item textarea {
    background: none repeat scroll 0% 0% #F5F5F5;
}

.order-review-table {
    background: none repeat scroll 0% 0% #FFFFFF;
}

.order-review-table .pane-title-row {
    background: none repeat scroll 0% 0% #ADADAD;
    color: #FFFFFF;
}

.order-review-table .data-col {
    color: #535353;
}

.order-review-table .review-button-row {
    background: none repeat scroll 0% 0% #FFFFFF;
    border-bottom: 2px solid #BFBFBF;
    border-top: 1px solid #EDEDED;
}

#edit-update.form-submit, #edit-cancel.form-submit, #edit-back.form-submit {
    background: url("images/button-bg.png") repeat-x scroll 50% 0pt #9E9E9E;
    border: 3px solid #E9E9E9;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 9px;
}

#content-tabs ul.primary {
    border-bottom: 0pt solid #C3C3C3;
}

#content-tabs ul.primary {
    border-bottom: 0pt solid #C3C3C3;
    margin: 0pt;
}

#content-tabs ul.primary li a:link, #content-tabs ul.primary li a:visited {
    background-color: transparent;
    color: #000000;
}

#content-tabs ul.primary li a:link, #content-tabs ul.primary li a:visited {
    background: none repeat scroll 0% 0% #E3E3E3;
    color: #666666;
}

#content-tabs ul.primary li.active a, #content-tabs ul.primary li a.active:link, #content-tabs ul.primary li a.active:visited, #content-tabs ul.primary li.active a:hover, #content-tabs ul.primary li.active a:focus {
    background: none repeat scroll 0% 0% #CECECE;
    color: #000000;
}

#content-tabs ul.primary li a:hover, #content-tabs ul.primary li a:focus {
    color: #000000;
}

#content-tabs ul.secondary {
    border-bottom: 1px solid #C3C3C3;
    margin-top: 5px;
}

#content-tabs ul.secondary li a:link, #content-tabs ul.secondary li a:visited {
    color: #999999;
}

#content-tabs ul.secondary li a:hover, #content-tabs ul.secondary li a:focus {
    border-bottom: 1px solid #DDDDDD;
    color: #777777;
}

#content-tabs ul.secondary li a.active:link, #content-tabs ul.secondary li a.active:visited {
    border-bottom: 2px solid #DDDDDD;
    color: #000000;
}