/* $Id: compact-icon.css,v 1.1.2.5 2010/04/25 10:45:26 sign Exp $ */

ul.admin-menu-compact {
  padding: 0;
  margin-left: 0;
  float: left;
}

ul.admin-menu-compact li.leaf {
  height: 105px;
  width: 130px;
  float: left;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 0;
  text-align: center;
  
}

ul.admin-menu-compact li.last {
  margin-right: 10;
}

ul.admin-menu-compact a {
  display: block;
  height: 80px;
  padding: 20px 10px 5px;
  text-decoration: none;
  width: 110px;
}

ul.admin-menu-compact a:hover {
  height: 100px;
  margin-left: -1px;
  margin-top: -1px;
  padding: 20px 10px 5px;
  width: 110px;
  background-color: #f4f4f4;
  border: 1px solid #c0c0c0;
  -moz-border-radius: 4px;
  -moz-outline-radius: 4px;
  -webkit-border-radius: 4px;
}

div.admin-panel {
  float: left;
  width: 100%;
  border-bottom: 1px solid silver;
  border-top: 1px solid silver;
  border-left: 2px solid silver;
  border-right: 2px solid silver;
  background: white;

}

div.admin-panel h3 {
 
  padding: 5px 35px;
  background: transparent url(icons/i24/admin/admin.png) no-repeat scroll 1% 50%;
  margin: 0;
}
