

html {
    overflow-y: scroll;
}

body {
    margin: 0px;
    padding: 0px;
    background: none repeat scroll 0% 0% #FFFFFF;
}

body, p, div, span, td, th, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: Arial,Tahoma,Helvetica,sans-serif;
}

input#edit-tid {
    width: 200px;
}

div.version_store_curent img {
    margin-top: 1px;
}

div.version_store_curent {
    width: 200px;
    display: inline;
    padding-left: 5px;
	margin-top: 3px;
}
div.version_store_curent a:hover {
    border-bottom: 1px solid red;
}

body, p, div, span, td, th, input, select, textarea {
    font: 13px/160% Arial,Tahoma,Helvetica,sans-serif;
}

a, a:active {
    color: #027AC6;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline-style: none;
}

h1 {
    margin: 0px;
}

.clear {
    clear: both;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0pt;
    content: " ";
    clear: both;
    height: 0pt;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

#toppanel-head {
    font-size: 0.8em;
    color: #FFFFFF;
    background: url("images/header_bg.png") repeat-x scroll center bottom #313332;
    text-align: center;
    height: 28px;
}

#go-home {
    float: left;
    padding: 4px 0pt 0pt 32px;
    background: url("images/gohome.png") no-repeat scroll 6px 6px transparent;
}

#go-home a, #admin-links a {
    color: #FFFFFF;
    text-decoration: none;
}

#go-home a:hover, #admin-links a:hover {
    text-decoration: underline;
}

#header-title {
    padding: 0pt;
    color: #A7A7A7;
}

#admin-links {
    color: #FFFFFF;
    float: right;
    padding: 0px;
    margin: 4px 10px 0pt 0pt;
}

#admin-links .user-name {
    font-weight: bold;
}

#admin-links .user-logout:hover {
    text-decoration: none;
}

#admin-links .user-logout span {
    visibility: hidden;
}

.rootcandyspan {
    padding: 0pt 5px;
}

#navigation {
    width: 100%;
    line-height: normal;
    position: relative;
    min-height: 24px;
    height: auto ! important;
    background: url("images/navigation_bg.png") repeat-x scroll center bottom #B2C8D3;
    color: #B2C8D3;
}

#navigation .item-list {
    font-size: 94%;
    line-height: normal;
}

#navigation.header-on {
}

#navigation.i16 {
    min-height: 44px;
    height: auto ! important;
}

#navigation.i24 {
    min-height: 50px;
    height: auto ! important;
}

#navigation.i32 {
    min-height: 58px;
    height: auto ! important;
}

#navigation ul {
    margin: 0pt;
    padding: 5px 10px 0pt;
    list-style: none outside none;
    position: absolute;
    bottom: 0pt;
}

#navigation li {
    float: left;
    margin: 0pt;
    padding: 0pt 0pt 0pt 5px;
    text-align: center;
    list-style-type: none;
}

#navigation a {
    float: left;
    display: block;
    padding: 5px 11px 1px 6px;
    text-decoration: none;
    font-weight: normal;
    color: #000000;
}

#navigation a:hover {
    color: #C0C0C0;
}

#navigation #current-32 {
    background: url("images/tabs/tableft_big.png") no-repeat scroll left top transparent;
    position: relative;
    top: 1px;
}

#navigation #current-32 a {
    background: url("images/tabs/tabright_big.png") no-repeat scroll right top transparent;
    color: #027AC6;
    padding-bottom: 2px;
}

#navigation #current-24, #navigation #current-16 {
    background: url("images/tabs/tableft.png") no-repeat scroll left top transparent;
    position: relative;
    top: 0px;
}

#navigation #current-24 a, #navigation #current-16 a {
    background: url("images/tabs/tabright.png") no-repeat scroll right top transparent;
    color: #027AC6;
    padding-bottom: 3px;
}

#navigation #current {
    background: url("images/tabs/tableft_small.png") no-repeat scroll left top transparent;
    position: relative;
    top: 0px;
}

#navigation #current a {
    background: url("images/tabs/tabright_small.png") no-repeat scroll right top transparent;
    color: #027AC6;
    padding-bottom: 3px;
}

#navigation #logo {
    float: right;
    padding: 5px 20px 5px 5px;
}

.content-in {
    background: url("images/content_bg.gif") repeat scroll 0% 0% transparent;
    font-size: 90%;
    float: left;
    width: 100%;
    margin: 0pt 5px 0pt 0pt;
}

ul#rootcandy-menu {
    width: 211px;
    margin: 0pt;
    padding: 0pt;
}

#rootcandy-menu li {
    padding: 2px 8px 2px 2px;
    text-align: right;
    list-style: none outside none;
}

#rootcandy-menu li.active {
    background-color: #FFFFFF;
    border-top: 1px solid #DCF0F6;
    border-bottom: 1px solid #DCF0F6;
}

#rootcandy-menu li.active a, #rootcandy-menu a.active-trail {
    color: #000000;
    font-weight: bold;
}

#content-main {
    background-color: #F3F7FC;
}

#rootcandy-menu a {
    text-decoration: none;
    font-size: 90%;
}

#rootcandy-menu a.active {
    color: #FF0000;
    font-weight: bold;
}

div.admin-content {
    padding: 10px;
    min-height: 200px;
}

#placeholder {
    height: 1em;
}

#content-wrap {
    background: none repeat scroll 0% 0% white;
    min-width: 780px;
    max-width: 1260px;
    margin: 0pt auto 10px;
    clear: both;
}

#content-wrap #inside {
    margin: 0pt 10px 0pt 0pt;
    padding: 0pt;
}

#content {
    padding-left: 10px;
    padding-top: 0px;
    background: none repeat scroll 0% 0% #FFFFFF;
}

.sidebar-left #content {
    padding-left: 210px;
}

.sidebar-right #content {
    padding-right: 210px;
}

.sidebars #content {
    padding-left: 210px;
    padding-right: 210px;
}

#sidebar-right {
    width: 210px;
    float: right;
}

#sidebar-left {
    width: 210px;
    float: left;
}

.t {
    background: url("images/window/t.gif") repeat-x scroll 0pt 0pt #F4F7F8;
}

.b {
    background: url("images/window/b.gif") repeat-x scroll 0pt 100% transparent;
}

.l {
    background: url("images/window/l.gif") repeat-y scroll 0pt 0pt transparent;
}

.r {
    background: url("images/window/r.gif") repeat-y scroll 100% 0pt transparent;
}

.bl {
    background: url("images/window/bl.gif") no-repeat scroll 0pt 100% transparent;
}

.br {
    background: url("images/window/br.gif") no-repeat scroll 100% 100% transparent;
}

.tl {
    background: url("images/window/tl.gif") no-repeat scroll 0pt 0pt transparent;
}

.tr {
    background: url("images/window/tr.gif") no-repeat scroll 100% 0pt transparent;
    padding: 10px;
}

.navigation-menu {
    margin: 20px;
}

.navigation-menu dd {
    color: #A0A0A0;
    padding-bottom: 10px;
}

table {
    font-size: 12px;
    width: 100%;
    margin: 0pt 0pt 5px;
    border-collapse: collapse;
}

thead {
    border: 1px solid #CAD4E6;
    background: none repeat scroll 0% 0% #E0ECFF;
    color: #027AC6;
    text-shadow: 0pt 1px 0pt #FFFFFF;
}

thead th {
    font-weight: bold;
    padding: 2px 6px;
    border: 0pt none;
}

tr.even {
    border: 1px solid #CAD4E6;
    background: url("images/content_bg.gif") repeat-x scroll left top transparent;
}

tr.odd {
    border: 1px solid #CAD4E6;
    background-image: none;
    background-color: #FFFFFF;
}

td {
    padding: 1px 4px;
    border: 1px solid #CAD4E6;
}

.collapse-processed {
    background: none repeat scroll 0% 0% #DDDDDD;
    padding: 2px 4px 2px 2px;
    font-size: 0.92em;
    color: #FFFFFF;
    border-radius: 2px 2px 2px 2px;
}

.collapse-processed a {
    color: #333333;
    text-decoration: none;
    text-shadow: 0pt 1px 0pt #E0E0E0;
    font-weight: bold;
}

.content-add-more {
    background: url("icons/i16/misc/add.png") no-repeat scroll left center transparent;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
}

span.form-required {
    color: #FFAE00;
}

span.submitted, .description {
    font-size: 1.2em;
    color: #666666;
}

.description {
    line-height: 150%;
    margin-bottom: 0.75em;
    color: black;
}

div.messages, div.preview, div.help {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px 50%;
    font-weight: normal;
    background-color: #FFFFFF;
}

div.messages ul {
    margin: 0pt;
    padding: 0pt;
}

div.messages ul li {
    list-style-type: none;
    list-style-image: none;
}

div.help {
    border: 1px solid #E7E7E7;
    background-color: #F7F7F7;
}

.help p {
    margin: 5px;
}

div.status {
    color: #00529B;
    background-color: #BDE5F8;
}

div.status a, div.status a:visited {
    color: #00529B;
    font-weight: bold;
}

div.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

div.warning a, div.warning a:visited {
    color: #9F6000;
    font-weight: bold;
}

div.error, tr.error {
    color: #A30000;
    background-color: #FFCCCC;
}

div.error a, div.error a:visited {
    color: #A30000;
    font-weight: bold;
}

.block-region {
    padding: 0.5em;
    background: none repeat scroll 0% 0% transparent;
    border: 1px dashed #B4D7F0;
    text-align: center;
    font-size: 1em;
}

.block {
    padding: 0pt 0.5em;
}

.block h2 {
    font-weight: bold;
    line-height: 1.8em;
    color: #027AC6;
    font-size: 100%;
    padding: 0pt;
    margin: 0pt;
    background: none repeat scroll 0% 0% transparent;
}

.block .content {
    font-size: 90%;
}

#footer {
    clear: both;
    text-align: center;
}

.node-form .standard {
    clear: none;
}

#TB_ajaxContent fieldset {
    display: inline;
}

#fieldsetcontainer a {
    margin: 2px;
}

#fieldsetcontainer a:hover {
    color: #000000;
}

ul.primary {
    border: medium none;
}

ul.primary li a, ul.primary li.active a {
    border: medium none;
}

#breadcrumb .alone {
    padding: 20px;
}

.breadcrumb {
    font-size: 80%;
    padding-left: 22px;
    color: #A0A0A0;
    float: left;
}

#breadcrumb h2 {
    float: right;
    padding: 0pt 20px 0pt 0pt;
    margin: 0pt;
    color: #027AC6;
    font-size: 120%;
    font-weight: bold;
}

h2#title {
    margin-top: 4px;
}

.admin-list a {
    font-weight: bold;
    line-height: 1.8em;
}

input.form-submit, input.teaser-button {
    background: url("images/buttons/blue-button.png") no-repeat scroll center top transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 96%;
    font-weight: bold;
    margin: 0pt 4px;
    padding: 2px 4px;
    text-transform: uppercase;
    outline: 1px solid #9BABB0;
    border-radius: 4px 4px 4px 4px;
    -moz-outline-radius: 4px 4px 4px 4px;
}

.node-form input#edit-submit.form-submit, input#edit-save.form-submit {
    background: url("images/buttons/green-button.png") no-repeat scroll center top transparent;
}

input#edit-delete.form-submit, #system-modules-uninstall input#edit-submit, #user-multiple-delete-confirm input#edit-submit {
    background: url("images/buttons/red-button.png") no-repeat scroll center top transparent;
}

input.form-submit:hover, input.teaser-button:hover, input#edit-save.form-submit, .node-form input#edit-submit.form-submit:hover, input#edit-delete.form-submit:hover, #system-modules-uninstall input#edit-submit:hover, #user-multiple-delete-confirm input#edit-submit:hover {
    background-position: center bottom;
    cursor: pointer;
}

input#edit-save.form-submit[disabled], input.disabled {
    background: url("images/buttons/grey-button.png") no-repeat scroll center top transparent;
}

#legal-notice {
    font-size: 80%;
    color: #999999;
    text-align: center;
}

#legal-notice a {
    background: url("images/extlink.gif") no-repeat scroll right center transparent;
    padding-right: 12px;
}

.level-1 h2 {
    color: #027AC6;
    font-size: 120%;
    font-weight: bold;
}

#tabs-primary {
    width: 100%;
    font-size: 93%;
    line-height: normal;
    background: url("images/tabs/bg.gif") repeat-x scroll center bottom transparent;
    float: left;
}

#tabs-primary ul {
    margin: 0pt;
    padding: 0pt;
    list-style: none outside none;
}

#tabs-primary li {
    float: left;
    margin: 0pt;
    padding: 0pt 0pt 0pt 9px;
}

#tabs-primary a {
    float: left;
    display: block;
    padding: 5px 15px 4px 6px;
    text-decoration: none;
    font-weight: bold;
    color: #027AC6;
    background: none repeat scroll 0% 0% transparent;
}

#tabs-primary a {
    float: none;
}

#tabs-primary a:hover {
    color: #000000;
    text-decoration: underline;
}

#tabs-primary .active {
    background: url("images/tabs/left.gif") no-repeat scroll left top transparent;
}

#tabs-primary .active a {
    background: url("images/tabs/right.gif") no-repeat scroll right top transparent;
    color: #333333;
    padding-bottom: 5px;
}

#tabs-secondary {
    border: medium none;
    width: 100%;
    font-size: 93%;
    line-height: normal;
    background: url("images/tabs/bg-2.gif") repeat-x scroll center bottom transparent;
    float: left;
}

#tabs-secondary ul {
    margin: 0pt;
    padding: 0pt;
    list-style: none outside none;
    border: medium none;
}

#tabs-secondary li {
    float: left;
    margin: 0pt;
    padding: 0pt 0pt 0pt 9px;
    border: medium none;
}

#tabs-secondary a {
    float: left;
    display: block;
    padding: 5px 15px 4px 6px;
    text-decoration: none;
    font-weight: bold;
    color: #027AC6;
    background: none repeat scroll 0% 0% transparent;
    border: medium none;
}

#tabs-secondary a {
    float: none;
}

#tabs-secondary a:hover {
    color: #000000;
}

#tabs-secondary .active {
    background: url("images/tabs/left-2.gif") no-repeat scroll left top transparent;
    color: #000000;
}

#tabs-secondary .active a {
    background: url("images/tabs/right-2.gif") no-repeat scroll right top transparent;
    color: #000000;
    padding-bottom: 5px;
}

.item-list .pager li {
    padding: 0pt;
    margin: 2px;
}

.pager li.pager-current, .pager li a {
    background: url("images/buttons/blue-button.png") no-repeat scroll center top transparent;
    margin: 0pt;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 96%;
    font-weight: bold;
    text-transform: uppercase;
    outline: 1px solid #9BABB0;
    border-radius: 4px 4px 4px 4px;
    -moz-outline-radius: 4px 4px 4px 4px;
    padding: 2px 4px;
    text-decoration: none;
}

.pager a:hover, .pager li.pager-current {
    background: url("images/buttons/blue-button.png") no-repeat scroll center bottom transparent;
    text-decoration: none;
    color: #000000;
}

.pager a, .pager li.pager-current {
    padding: 2px 4px;
}

.pager {
    text-align: center;
}

.node-type-list a {
    font-weight: bold;
}

#views-ui-admin-tools input#edit-clear-cache {
    margin-top: 5px;
}

#views-ui-edit-view-form {
    margin-top: 10px;
}

#edit-add-display {
    margin-bottom: 10px;
}

.remove-display input.form-submit {
    background: url("images/buttons/red-button.png") no-repeat scroll center top transparent;
}

.remove-display input.form-submit:hover {
    background-position: center bottom;
    cursor: pointer;
}

.views-tabset {
    background: none repeat scroll 0% 0% transparent;
}

#views-ui-analyze-view-button {
    margin: 10px 0pt;
}

#dashboard-left {
    float: left;
    width: 48%;
}

#dashboard-right {
    float: right;
    width: 48%;
}

#dashboard-left h2, #dashboard-right h2 {
    border: 1px solid #E7E7E7;
    background-color: #F7F7F7;
    padding: 6px;
}

#dashboard-left .block, #dashboard-right .block {
    margin: 0pt;
    padding: 0pt;
}

#dashboard-left .block .content, #dashboard-right .block .content {
    padding: 5px 10px;
}

#dashboard-left h3, #dashboard-right h3 {
    padding: 0pt;
    margin: 0px 2px;
}

#toppanel {
    position: relative;
    width: 100%;
    z-index: 999;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#panel {
    width: 100%;
    height: 300px;
    color: #999999;
    background: url("images/panel/panel_content_bg.png") repeat scroll 0% 0% #313332;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    z-index: 3;
    display: none;
}

#toggle, #toggle ul {
    margin: 0pt auto;
    padding: 0pt;
    list-style: none outside none;
    width: 160px;
}

#toggle li {
    float: none;
    margin: 0pt;
    padding: 0pt 0pt 0pt 5px;
    text-align: center;
}

#toggle a {
    float: none;
    display: block;
    padding: 5px 11px 1px 6px;
    text-decoration: none;
    font-weight: normal;
    color: #000000;
}

#toggle li {
    background: url("images/panel/panel_left.png") no-repeat scroll left top transparent;
    position: relative;
    top: 0px;
}

#toggle li a {
    background: url("images/panel/panel_bg.png") no-repeat scroll right top transparent;
    color: #FFFFFF;
    padding: 0pt 0pt 3px;
}

#toggle li a .panel-open {
    background: url("images/panel/panel_open.png") no-repeat scroll left top transparent;
    padding-left: 20px;
}

#toggle li a .panel-close {
    background: url("images/panel/panel_close.png") no-repeat scroll left top transparent;
    padding-left: 20px;
}

#slider-middle {
    padding-left: 210px;
    padding-right: 210px;
}

#slider-right {
    width: 210px;
    float: right;
}

#slider-left {
    width: 210px;
    float: left;
}

#maintenance {
    border: 5px solid #E0E1E1;
    width: 700px;
    margin: 30px auto;
    background-color: #F0F0F0;
    padding: 10px;
}

#maintenance .maintenance-icon {
    float: left;
}

#maintenance .maintenance-content {
    margin: 13px 10px 10px;
}

#maintenance .maintenance-content-p {
    margin: 13px 10px 10px;
}

.vertical-tabs-list li {
    background: none repeat scroll 0% 0% #FFFFFF;
}

.vertical-tabs-list li.selected {
    background: url("images/content_bg.gif") repeat scroll 0% 0% transparent;
}

.vertical-tabs-list .summary {
    color: #898989;
}

label {
    background-color: #E9EFF2;
    padding: 1px;
    margin: 1px;
    width: 100%;
}

label.option {
    background-color: transparent;
}

fieldset.collapsible .fieldset-wrapper {
    overflow: hidden ! important;
}

fieldset {
    border: 1px solid #DDDDDD;
}

table label {
    background-color: transparent;
}

#admin-menu-wrapper {
    font-size: 9px;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

.level-1 {
    border-width: 0pt 1px 1px;
    border-style: none solid solid;
    border-color: -moz-use-text-color #D2DADA #D2DADA;
    background: none repeat scroll 0% 0% #F2F2F2;
    padding: 4px;
    clear: both;
}

.level-2 {
    border-width: 0pt 1px 1px;
    border-style: none solid solid;
    border-color: -moz-use-text-color #DCDCDC #DCDCDC;
    background: none repeat scroll 0% 0% #FFFFFF;
    padding: 4px;
    clear: both;
}

span.admin-enabled, span.admin-disabled, span.admin-missing {
    background: none repeat scroll 0% 0% #FFFFFF;
    padding: 2px;
    font-size: 0.92em;
    font-weight: bold;
    border-radius: 5px 5px 5px 5px;
}

span.admin-enabled {
    color: #0FA000;
}

span.admin-missing {
    color: #333333;
}

span.admin-disabled {
    color: #DE4040;
}

.module-disabled {
    color: #AAAAAA;
}

.module-disabled strong {
    text-shadow: 0pt 1px 0pt #FFFFFF;
}

tr.highlight {
    background: none repeat scroll 0% 0% #FFFCC8;
}

html.js fieldset.collapsible legend a {
    background: url("images/exp_col.png") no-repeat scroll 5px 4px transparent;
    padding-left: 20px;
}

html.js fieldset.collapsed legend a {
    background-position: 5px -20px;
}

div.admin {
    padding-top: 0pt;
}

.admin-list {
    border: 1px solid #CCCCCC;
    margin: 0pt;
    padding: 0pt;
}

.admin-list li {
    list-style: none outside none;
    margin: 0pt;
    padding: 10px 20px;
    background: none repeat scroll 0% 0% white;
}

.admin-img {
    float: left;
    padding-right: 10px;
}

.admin-title {
}

.admin-row {
    padding-bottom: 10px;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 9px;
}

.admin-block {
    padding-left: 40px;
}

.admin-row:hover {
    background: none repeat scroll 0% 0% #DDDDDD;
}

div.admin-dependencies, div.admin-required {
    color: gray;
    font-size: 0.7em;
}

td.select {
    width: 15px;
}