.dynamic-product-attribute { overflow: auto; border: 1px solid #ccc; margin: 0; padding: 1em; }
.dynamic-product-attribute .thumbnail { float: left; margin: 0 1em 0 0; }
.dynamic-product-attribute .thumbnail img { height: 100px; }
.dynamic-product-attribute.attribute-selected { display: block; }
.dynamic-product-attribute.attribute-hidden { display: none; }
.dynamic-product-attribute .attribute-summary { font-weight: bold; }