

#l10n-client {
    text-align: left;
    color: #000000;
    background: none repeat scroll 0% 0% #FFFFFF;
    position: fixed;
    width: 100%;
    height: 2em;
    bottom: 0px;
    overflow: hidden;
    left: 0pt;
    z-index: 1;
}

* html #l10n-client {
    position: static;
}

#l10n-client-string-select .string-list, #l10n-client-string-editor .source, #l10n-client-string-editor .editor {
    height: 20em;
}

#l10n-client .labels {
    overflow: hidden;
    position: relative;
    height: 2em;
    color: #FFFFFF;
    background: none repeat scroll 0% 0% #3377AA;
}

#l10n-client .labels .label {
    display: none;
}

#l10n-client .labels .toggle {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0em;
    padding: 0em 0.75em;
    height: 2em;
    line-height: 2em;
    text-transform: uppercase;
    text-align: center;
    background: none repeat scroll 0% 0% #000000;
}

#l10n-client h2 {
    border-left: 1px solid #FFFFFF;
    height: 1em;
    line-height: 1em;
    padding: 0.5em;
    margin: 0px;
    font-size: 1em;
    text-transform: uppercase;
}

#l10n-client .strings h2 {
    border: 0px none;
}

#l10n-client .strings {
    width: 25%;
    float: left;
}

#l10n-client .source {
    width: 37%;
    float: left;
}

#l10n-client .translation {
    width: 37%;
    float: left;
}

#l10n-client-string-select {
    display: none;
    float: left;
    width: 25%;
}

#l10n-client .string-list {
    height: 17em;
    overflow: auto;
    list-style: none outside none;
    margin: 0em;
    padding: 0em;
}

#l10n-client .string-list li {
    font-size: 0.9em;
    line-height: 1.5em;
    cursor: default;
    background: none repeat scroll 0% 0% transparent;
    list-style: none outside none;
    border-bottom: 1px solid #DDDDDD;
    padding: 0.25em 0.5em;
    margin: 0em;
}

#l10n-client .string-list li.translated {
    border-bottom-color: #99CC33;
    background: none repeat scroll 0% 0% #CCFF66;
    color: #336600;
}

#l10n-client .string-list li.translated:hover {
    background: none repeat scroll 0% 0% #DDFF88;
}

#l10n-client .string-list li.translated:active {
    background: none repeat scroll 0% 0% #99CC33;
}

#l10n-client .string-list li.hidden {
    display: none;
}

#l10n-client .string-list li.untranslated {
}

#l10n-client .string-list li.untranslated:hover {
    background: none repeat scroll 0% 0% #AACCEE;
}

#l10n-client .string-list li.untranslated:active {
    background: none repeat scroll 0% 0% #88AACC;
}

#l10n-client .string-list li.active {
    font-weight: bold;
}

#l10n-client #l10n-client-search-form {
    background: none repeat scroll 0% 0% #EEEEEE;
    text-align: center;
    height: 2em;
    line-height: 2em;
    margin: 0em;
    padding: 0.5em;
}

#l10n-client #l10n-client-search-form .form-item, #l10n-client #l10n-client-search-form input.form-text, #l10n-client #l10n-client-search-form #l10n-client-search-filter-clear {
    display: inline;
    vertical-align: middle;
}

#l10n-client #l10n-client-search-form .form-item {
    margin: 0em;
    padding: 0em;
}

#l10n-client #l10n-client-search-form input.form-text {
    width: 80%;
}

#l10n-client #l10n-client-search-form #l10n-client-search-filter-clear {
    width: 10%;
    margin: 0em;
}

#l10n-client-string-editor {
    display: none;
    float: left;
    width: 74%;
}

#l10n-client-string-editor .source {
    overflow: hidden;
    width: 50%;
    float: left;
}

#l10n-client-string-editor .source .source-text {
    line-height: 1.5em;
    background: none repeat scroll 0% 0% #EEEEEE;
    height: 16em;
    margin: 1em;
    padding: 1em;
    overflow: auto;
}

#l10n-client-string-editor .translation {
    overflow: hidden;
    width: 49%;
    float: right;
}

#l10n-client-form {
    padding: 0em;
}

#l10n-client-form .form-textarea {
    height: 13em;
    font-size: 1em;
    line-height: 1.25em;
    width: 95%;
}

#l10n-client-form .form-submit {
    margin-top: 0em;
}

#l10n-client-data {
    display: none;
}

.l10n-client-feedback {
    background-color: #DDFF88;
    padding: 5px;
    font-style: italic;
    margin-bottom: 10px;
}

.l10n-client-feedback.message-warning {
    background-color: #FFDD88;
}

.l10n-client-feedback.message-error {
    background-color: #FF0000;
    color: #FFFFFF;
}