.panel-2col-stacked {
	margin-top: 0;
	padding-top: 0;
}

.panel-2col-stacked .panel-col-top, .panel-2col-stacked .panel-col-bottom {
	clear: both;
	width: 100%;
}

.panel-2col-stacked .panel-col-top .inside {
	margin-bottom: 0.5em;
}

.panel-2col-stacked .panel-col-first {
	float: left;
	width: 50%;
}

* html .panel-2col-stacked .panel-col-first {
	width: 49.9%;
}

.panel-2col-stacked .panel-col-first .inside {
	margin: 0 0.5em 1em 0;
}

.panel-2col-stacked .panel-col-last {
	float: left;
	width: 49.9%;
}

.panel-2col-stacked .panel-col-last .inside {
	margin: 0 0 1em 0.5em;
}

.panel-2col-stacked .panel-separator {
	margin: 0 0 1em;
}

