#edit-iam-human-checkbox1-wrapper {
display: none;
}

#edit-iam-human-checkbox2-wrapper {
display: none;
}

#edit-familyname-wrapper{
display: none;
}

#edit-username-wrapper {
display: none;
}

#edit-imnotbot-hide-wrapper {
display: none;
}